body{
    background:#000;
    color:#FFF;
}

p{
    margin:0.5em 0;
    text-indent: 1em;
}

.inputArea{
    margin:4em auto;
    text-align:center;
}

.docTitle{
    font-weight: bold;
    border-bottom: solid 2px #EEE;
}

.docBody{

}

.sentence{
    margin: 0.5em;
    padding: 1em;
    border: double 4px #EEE;
    background: #555;
    color: #EEE;
    text-shadow: #030 1px 1px 2px;
    float: left;
    width:25em;
}



#inputCode{
    background: #FFF;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    transition-duration:0.1s;
}
#inputCode:hover{
    background:#DDD;
}

#searchSubmit{
    background:#DDD;
    border: none;
    padding: 0.5em;
    border-radius: 0.5em;
    transition-duration:0.1s;
    cursor:pointer;
}
#searchSubmit:hover{
    background:#AAA;
}